<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app='app'>
<head>
	<title translate="TITLE"></title>
	<link rel="icon" type="image/png" href="images/logo.png">
	<link rel="shortcut icon" type="image/png" href="images/logo.png"/>
	<!-- <title>Spousal an Wedding Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="OlayCarlos, Ola, Carlos, Lublin" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--webfont-->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="./js/custom-translator.js"></script>
	<!----//requred-js-files---->
</head>

<body ng-controller="ctrl">
<div class="about_header">
	<div class="container">
	        <!---start-top-nav---->
			<div class="top-nav">
				<!-- An example of changing language in runtime -->
<!-- 				<p align="right"> -->
<!-- 					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" class="active" href="#" ng-click="setLang('en_US')">En</a>    | -->
<!-- 					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" href="#" ng-click="setLang('es_ES')">Es</a> -->
<!-- 				</p> -->
				<div class="top-header">
					<div class="logo">
					   <a href="index.html"><img src="images/logo.png" alt=""/></a>
					</div>					
				</div>
				<nav class="nav1">
					<a id="menu-toggle" class="anchor-link" href="#"><img src="images/nav.png" alt="" /></a>
					<ul class="simple-toggle" id="menu">
			        	<li><a href="index.html">{{'HOME' | translate}}</a></li>
			        	<li><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
			        	<li class="active"><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
			        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
			        	<li><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
			        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
			        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
			        </ul>
				</nav>
				<div class="clearfix"> </div>
				<script type="text/javascript">
					  $(document).ready(function() {
					
						$('#menu-toggle').click(function () {
					      $('#menu').toggleClass('open');
					      e.preventDefault();
					    });
					    
					});
				</script>
			</div>
		<!---End-top-nav---->
	</div>
</div>  

<!-- Map -->
<div class="profile">
	<div class="container">
	  <div class="about_box1">
	  	<h1 class="m_4">
          Como llegar a la boda
        </h1>
        <p class="m_5">
		¡Os lo queremos poner fácil! Aquí os iremos haciendo un listado con las direcciones de todos los lugares relacionados con nuestra boda. Iremos actualizando la información. ¡Vamos! Que quien se pierda es porque quiere perderse. Os indicamos el lugar exacto con el teléfono, por si tenéis dudas y queréis llamar, una pequeña descripción de cómo llegar y alguna que otra fotillo.        
		</p>
        
       
       <!--  Llegar a Polonia -->
       <div class="about_grid1">
         <div class="col-md-12 box2">
           <h2>Llegar a Polonia</h2>
           <p>Desde extranjero se puede llegar a Polonia con varias compañías. 
           Hay que tener en cuenta que en Varsovia hay dos aeropuertos. El aeropuesto de Aeropuerto Modlin (lotnisko Modlin) y el Aeropuerto Chopin (lotnisko Chopin).
            Desde Londres lo más fácil es llegar directo a Lublin.</p>
			<br>
			
			<p>Desde Espana con:</p>
			<ul >
				<li><a target="_blank" href="http://www.lot.com">Lot - www.lot.com (Chopin)</a></li>
	        	<li><a target="_blank" href="https://wizzair.com">Wizzair - www.wizzair.com (Chopin)</a></li>
	        	<li><a target="_blank" href="http://www.norwegian.com/">Norwegian - www.norwegian.com (Chopin)</a></li>
	        	<li><a target="_blank" href="https://www.ryanair.com">Ryanair - www.ryanair.com (Modlin)</a></li>
	        	<li><a target="_blank" href="https://www.vueling.com">Vueling - www.vueling.com (Chopin)</a></li>
	        	<li><a target="_blank" href="http://www.lufthansa.com/">Lfthansa - http://www.lufthansa.com (Chopin)</a></li>

	        </ul>
	        <br>
	        <p>
			Desde Londres a Lublin, Varsovia con RYANAIR (MODLIN), WIZZAIR (CHOPIN)
			</p>
			<br>
		
         
         	<p>
         	El aeropuerto de Chopin esta dentro de Varsovia. De allí al centro se puede llegar en varias maneras: 
			<ul >
				<li>en autobús (billete 4,4 zł)</li>
	        	<li>en taxi (más o menos 30 zł) sugerimos preguntar antes el precio.</li>
			</ul>
         	</p>

         	<p>
			El aeropuerto de Modlin está 0,5-1 hora del centro de Varsovia:
			</p>
			<ul >
				<li>en autobus  www.modlinbus.pl/en (9-35 zł)</li>
	        	<li>en transporte privado-taxi (mas o menos 100 zł)</li>
			</ul>
			
			<br>
			<p>
			Si vais a saber vuestra ruta y fechas, por favor avísanos. Así podemos ayudaros a elegir manera más fácil a llegar a su destino u organizar la recogida del aeropuerto. O si llegáis varios en el mismo vuelo podemos buscaros un transporte en grupo.
         	</p>
         
         </div>
         <div class="clearfix"> </div>
       </div>
      


      
       
      <div class="gallery_1" >
			<div class="gallery-bottom">
					<div class="col-md-3 bottom-gallery">
						<a href="images/PuertadeCracovia.jpg" rel="Foto 1" class="b-link-stripe b-animate-go  thickbox">
						<img class="img-responsive" src="images/PuertadeCracovia.jpg" width="250px" />
						<div class="b-wrapper">
						  <h3 class="b-animate b-from-left    b-delay03 "> </h3>
						</div>
	                    </a>
					</div>
					<div class="col-md-3 bottom-gallery">
						<a href="images/TrinitarianTorre.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img class="img-responsive" src="images/TrinitarianTorre.jpg" width="250px" />
						<div class="b-wrapper">
						  <h3 class="b-animate b-from-left    b-delay03 "> </h3>
						</div>
	                    </a>
					</div>
					<div class="col-md-3 bottom-gallery">
						<a href="images/CapilladeSantaCruz.jpg" rel="Foto 1" title="Foto1" class="b-link-stripe b-animate-go  thickbox">
						<img class="img-responsive" src="images/CapilladeSantaCruz.jpg" width="250px" />
						<div class="b-wrapper">
						  <h3 class="b-animate b-from-left    b-delay03 "> </h3>
						</div>
	                    </a>
					</div>
					<div class="col-md-3 bottom-gallery">
						<a href="images/CascoAntiguo.jpg" rel="Foto 2" title="Foto2" class="b-link-stripe b-animate-go  thickbox">
						<img class="img-responsive" src="images/CascoAntiguo.jpg" width="250px" />
						<div class="b-wrapper">
						  <h3 class="b-animate b-from-left    b-delay03 "> </h3>
						</div>
	                    </a>
					</div>
					<div class="clearfix"> </div>
			</div>
		</div>
       	<script src="js/jquery.chocolat.js"></script>
			<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
			<!--light-box-files -->
			<script type="text/javascript" charset="utf-8">
			$(function() {
				$('.bottom-gallery a').Chocolat();
			});
		</script>
       

  

		<!-- Llegar a lublin -->
       <div class="about_grid1">
         <div class="col-md-4 box1">
	         <iframe src="https://www.google.com/maps/embed?pb=!1m22!1m8!1m3!1d754170.5134900555!2d21.212213667601862!3d51.61839464142267!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2sWarszawa!3m2!1d52.2296756!2d21.012228699999998!4m3!3m2!1d51.2477904!2d22.5696951!5e0!3m2!1ses!2spl!4v1455975876805" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
         <div class="col-md-8 box2">
         	
         	<h2>Llegar a Lublin desde Varsovia</h2>
			<p>Desde Varsovia se puede ir en coche, tren o autobús. Aproximadamente se tarda unas 3 horas.
			Cuando se acerque la fecha de la boda y sepamos cuanta gente, buscaremos un autobús para ir en grupo.
			</p>           	
           	
           	<br>
           	<h4>En coche</h4>
           	<p>
           	Os recomendamos salir con tiempo ya que Varsovia suele tener atascos en horas puntas. Hay que ir dirección sureste por la carretera 17. 
           	Si os interesa alquilar os dejamos una compañía que hablan en español. Echar un vistazo al mapa.
           	</p>
           	<br>
           	<p>
           	<ul ><li><a  target="_blank" href="http://pol-spain.eu/" >Alquiler de coches - http://pol-spain.eu</a></li></ul>
           	</p>
           	
           	
  			<br>
  			<h4>En tren</h4>
  			
           	<p>Es una manera más tranquila y económica para viajar dentro de Polonia.
				La empresa de trenes se llama PKP. Aquí podéis mirar horarios y comprar billetes.
 				Si necesitáis ayuda avísanos. Los precios del billete varían, pero no hay mucha diferencia entre primera y segunda clase. La estacion central de Varsovia se llama Warszawa Centralna.
           	</p>
           	  	<br>
           	<p>
           	<ul >
           	<li><a  target="_blank" href="http://www.intercity.pl/en/" >PKP Polska (Web de trenes polacos) - http://www.intercity.pl</a></li>
           	</ul>
           	<br>
           	<p> Si necesitáis ayuda avísanos. Los precios del billete varían, pero no hay mucha diferencia entre primera y segunda clase.
           	</p>
           	
           	
           	</p>
           	
           	<br>
           	<h4>En autobus</h4>
           	<p>En autobús es más complicado, porque hay varias empresas y en Varsovia os podéis liar buscando la estación, cada empresa tiene un sitio distinto de recogida de pasajeros.</p>
           	<br>
           	<ul >
           	<li><a  target="_blank" href="http://www.luxexpress.eu/en" >LUX Express</a></li>
           	</ul>
           	
           </div>
         <div class="clearfix"> </div>
       </div>

       
	   <!-- Llegar a la iglesia -->
       <div class="about_grid1">
         <div class="col-md-4 box1">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d624.3616760574517!2d22.569482578110353!3d51.24768412208062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xaf1e22ae041566ce!2sBazylika+Ojc%C3%B3w+Dominikan%C3%B3w!5e0!3m2!1ses!2spl!4v1455984142439" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>       
         </div>
         <div class="col-md-8 box2">
         	<h2>Llegar a la iglesia</h2>
           	<p>
           	La iglesia de los Dominicos esta en el casco antiguo de Lublin. Hay varias maneras para llegar aunque ese día, como hay un festival en la ciudad, os aconsejamos ir en taxi o andando. En coche no se podrá llegar directamente hasta la puerta, pero se puede aparcar en un parking que hay enfrente a la catedral o castillo. Desde ahí se llega andando enseguida.
			Os ponemos el mapa y una foto de la iglesia de los Dominicos.
           	</p>
           	<div class="col-md-3 bottom-gallery">
				<a href="images/BOD.jpg" rel="Bazylika Ojców Dominikanów" title="Bazylika Ojców Dominikanów" class="b-link-stripe b-animate-go  thickbox">
				<img class="img-responsive" src="images/BOD.jpg" />
				<div class="b-wrapper">
				  <h3 class="b-animate b-from-left    b-delay03 "> </h3>
				</div>
                   </a>

			</div>
			<div>
			    <p>
				<br>Basílica de los Dominicos
				<br>Bazylika Ojców Dominikanów
				<br>ul. Złota 9, 
				<br>20-112 Lublin, Polska</p>
	           	<br>
           	</div>
			
         </div>
         <div class="clearfix"> </div>
       </div>
       
       
       
		<!-- Llegar al Restaurante Etudia -->
       <div class="about_grid1">
         <div class="col-md-4 box1">
             <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d39973.42823709396!2d22.52055587832031!3d51.23124642243594!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472259a6013c0e93%3A0x3771f3bcaf140b55!2sCentrum+Konferencyjno-Wystawiennicze%2C+Restauracja+Etiuda!5e0!3m2!1ses!2spl!4v1455983804195" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
         <div class="col-md-8 box2">
         	<h2>Llegar al Restaurante Etudia</h2>
           	<p>
           	Después de la ceremonia pondremos un autobús para ir hasta el restaurante. En cuanto se acerque la fecha os indicaremos donde nos recogerá. Pero en caso de que alguien quiera ir en coche, os ponemos el mapa. Dentro del recinto del restaurante hay un parking.
           	</p>
           	<br>
           
           <div class="col-md-3 bottom-gallery">
				<a href="images/etiuda.jpg" rel="Etiuda" title="Etiuda" class="b-link-stripe b-animate-go  thickbox">
				<img class="img-responsive" src="images/etiuda.jpg" />
				<div class="b-wrapper">
				  <h3 class="b-animate b-from-left    b-delay03 "> </h3>
				</div>
                   </a>
           	
			</div>
			
			<div>
				<p>
				<br>Restaurante Etiuda
				<br>Ul. Nałęczowska, Szerokie 123,
				<br>20-050 Lublin, Polska
				<br>Tel: (0048) 81 718 70 70</p>
	           	<br>
			</div>
       	</div>
        <div class="clearfix"> </div>
       
       
       </div>
	</div>



</div>


<!-- Footer -->
   <div class="footer">
   	 <div class="container">
   	 	<div class="footer_nav1">
			<ul >
	        	<li class="active"><a href="index.html">{{'HOME' | translate}}</a></li>
	        	<li><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
	        	<li><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
	        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
	        	<li><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
	        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
	        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
	        </ul>
	 	</div>
   	    <div class="copy_right">
           <p>Copyright &copy; 2015 Spousal . All Rights Reserved . Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	    </div>
       </div>
     </div>



<script src="js/jquery.chocolat.js"></script>
<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
<!--light-box-files -->
<script type="text/javascript" charset="utf-8">
$(function() {
	$('.about-grid a').Chocolat({linkImages:false});
});
</script>
    
</body>
</html>		