<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app='app'>
<head>
	<title translate="TITLE"></title>
	<link rel="icon" type="image/png" href="images/logo.png">
	<link rel="shortcut icon" type="image/png" href="images/logo.png"/>
	<!-- <title>Spousal an Wedding Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="OlayCarlos, Ola, Carlos, Lublin" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--webfont-->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="./js/custom-translator.js"></script>
	<!----//requred-js-files---->
</head>

<body ng-controller="ctrl">
<div class="about_header">
	<div class="container">
	        <!---start-top-nav---->
			<div class="top-nav">
				<!-- An example of changing language in runtime -->
				<p>
					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" class="active" href="#" ng-click="setLang('en_US')">En</a>    |
					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" href="#" ng-click="setLang('es_ES')">Es</a>
				</p>
				<div class="top-header">
					<div class="logo">
					   <a href="index.html"><img src="images/logo.png" alt=""/></a>
					</div>					
				</div>
				<nav class="nav1">
					<a id="menu-toggle" class="anchor-link" href="#"><img src="images/nav.png" alt="" /></a>
					<ul class="simple-toggle" id="menu">
			        	<li><a href="index.html">{{'HOME' | translate}}</a></li>
			        	<li class="active"><a href="detalles.html">{{'DETAILS' | translate}}</a></li>
			        	<li><a href="lugar.html">{{'LOCATION' | translate}}</a></li>
			        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
			        	<li><a href="gallery.html">{{'GALERIA' | translate}}</a></li>
			        	<li><a href="typography.html">{{'SERV' | translate}}</a></li>
			        	<li><a href="contact.html">{{'CONTACT' | translate}}</a></li>
			        </ul>
				</nav>
				<div class="clearfix"> </div>
				<script type="text/javascript">
					  $(document).ready(function() {
					
						$('#menu-toggle').click(function () {
					      $('#menu').toggleClass('open');
					      e.preventDefault();
					    });
					    
					});
				</script>
			</div>
		<!---End-top-nav---->
	</div>
</div>   




<div class="profile">
	<div class="container">
		<h2 class="m_6">
              Nuestro gran dia
        </h2>
        <p class="m_5">
           Nada nos haría más ilusión que compartir este día contigo.
        </p>
        <div class="about_grid2">
          	 <div class="col-md-6 box_5">
<!--           	        <div class="put-left-abs"> -->
<!--                         <p class="text_6 color_1">1.</p> -->
<!--                     </div> -->
                    <div class="put-left-abs-noborder">
                    	<img src="images/clock.png" alt="" height="50px" width="50px"/>
                    </div>
                    
                    <div >
                    	<h3>Cuando</h3>
						<h4>Sábado, 30 de Julio, 2016</h4>   
                        <h4>Ceremonia:</h4>
                        <h5>16:00</h5>
                        <h4>Banquete:</h4>
                        <h5>18:00<br></h5>   	 
                           	<h5><br></h5>   
<!-- 						     <a href="#" title="more" class="btn_1 " target="_self">more</a>  -->
                    </div>
             </div>
             <div class="col-md-6 box_5">
<!--           	        <div class="put-left-abs"> -->
<!--                         <p class="text_6 color_1">2.</p> -->
<!--                     </div> -->
					<div class="put-left-abs-noborder">
                    	<img src="images/brujula.png" alt="" height="50px" width="50px"/>
                    </div>
                    
                    
					<!-- class="caption" -->
                    <div >
                        <h3>Donde</h3>
                        <h4>Iglesia</h4>
						<p>
                            Basílica de los Dominicos<br>
							Bazylika Ojców Dominikanów<br>
							ul. Złota 9, <br>
							20-112 Lublin, Polska
						</p>
						<br>
                        <h4>Restaurante</h4>
                        <p>
                        	Restaurante Etiuda<br>
							Ul. Nałęczowska, Szerokie 123,<br>
							20-050 Lublin, Polska
                        </p>
<!--                         <a href="lugar.html" title="Mas info" class="btn_1 " target="_self">Mas info</a> -->
                    </div>
             </div>
             
        </div>
	</div>
</div>


<!-- RSVP -->
<!-- <div class="profile"> -->
<!-- 	<div class="container"> -->
<!-- 		<h2 class="m_6">RSVP</h2> -->
<!--         <p class="m_5"> -->
<!--            Nos ayudaria si pudierais confirmar antes del <br>31 de Mayo 2016 -->
<!--         </p> -->
<!--         <div class="about_grid2"> -->
          	 
<!--           	 <div class="col-md-6 box_5"> -->
<!--           	 <h2>Ola</h2> -->
<!--           	 <h4>Email:</h4><h5>aleksandra.myszak@hotmail.com</h5> -->
<!--           	 <h4>Telefono:</h4><h5>+48 507 132 086</h5> -->
<!--           	 </div> -->
             
<!--              <div class="col-md-6 box_5"> -->
<!--              <h3>Carlos</h3> -->
<!--           	 <h4>Email:</h4><h5>carlos.u.p@gmail.com</h5> -->
<!--           	 <h4>Telefono:</h4> -->
<!--           	 <h5>+48 507 132 086</h5> -->
<!--           	 <h5>+34 974 430 257</h5> -->
<!--              </div> -->
<!--         </div> -->
<!-- 	</div> -->
<!-- </div> -->
<div class="profile">
	<div class="container">
		<h1 class="m_4">CONFIRMACION - RSVP</h1>
        <p class="m_5">Nos ayudaría si pudierais confirmar antes del <br><b>31 de Mayo 2016</b></p>
        <div class="contact-form">
        
				<div class="col-md-6 contact-in">
					<h3>Ola</h3>
					<p class="sed-para"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor.</p>
<!-- 					<p class="para1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.  </p> -->
					<div class="more-address"> 
<!-- 						<div class="address-more"> -->
<!-- 							<p>The company name,</p> -->
<!-- 							<p>Lorem ipsum dolor,</p> -->
<!-- 							<p>Glasglow Dr 40 Fe 72. </p> -->
<!-- 						</div> -->
						<div class="address-left">
							<p>Teléfono: +48 507 132 086</p>
							<p>Teléfono: </p>
							<p>Mail: <a href="malito:aleksandra.myszak@hotmail.com">aleksandra.myszak@hotmail.com</a></p>
						</div>
						<div class="clearfix"> </div>
				      </div>
				</div>
				<div class="col-md-6 contact-in">
					<h3>Carlos</h3>
					<p class="sed-para"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor.</p>
<!-- 					<p class="para1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.  </p> -->
					<div class="more-address"> 
<!-- 						<div class="address-more"> -->
<!-- 							<p>The company name,</p> -->
<!-- 							<p>Lorem ipsum dolor,</p> -->
<!-- 							<p>Glasglow Dr 40 Fe 72. </p> -->
<!-- 						</div> -->
						<div class="address-left">
							<p>Teléfono: +48 789 438 824</p>
							<p>Teléfono: +34 974 430 257</p>
							<p>Mail : <a href="malito:carlos.u.p@gmail.com">carlos.u.p@gmail.com</a></p>
						</div>
						<div class="clearfix"> </div>
				      </div>
				</div>
				<div class="clearfix"> </div>
	    </div>
     </div>
   </div>




<!-- Footer -->
   <div class="footer">
   	 <div class="container">
   	 	<div class="footer_nav1">
			<ul>
	        	<li><a href="index.html">Home</a></li>
	        	<li><a href="about.html">About</a></li>
	        	<li><a href="gallery.html">Gallery</a></li>
	        	<!-- logo -->
	        	 <li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
	        	<!-- logo -->
	        	<li><a href="faq.html">Faq</a></li>
	        	<li><a href="services.html">Services</a></li>
	        	<li><a href="contact.html">Contact</a></li>
	        </ul>
		 </div>
   	    <div class="copy_right">
           <p>Copyright &copy; 2015 Spousal . All Rights Reserved . Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	    </div>
       </div>
     </div>


<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.about-grid a').Chocolat({linkImages:false});
		});
</script>
		

     
     
</body>
</html>		