<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app='app'>
<head>
	<title translate="TITLE"></title>
	<link rel="icon" type="image/png" href="images/logo.png">
	<link rel="shortcut icon" type="image/png" href="images/logo.png"/>
	<!-- <title>Spousal an Wedding Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="OlayCarlos, Ola, Carlos, Lublin" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--webfont-->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="./js/custom-translator.js"></script>
	<!----//requred-js-files---->
</head>

<body ng-controller="ctrl">
<div class="about_header">
	<div class="container">
	        <!---start-top-nav---->
			<div class="top-nav">
				<!-- An example of changing language in runtime -->
				<p align="right">
					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" class="active" href="#" ng-click="setLang('pl_PL')">PL</a>    |
					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" href="#" ng-click="setLang('es_ES')">ES</a>
				</p>
				<div class="top-header">
					<div class="logo">
					   <a href="index.html"><img src="images/logo.png" alt=""/></a>
					</div>					
				</div>
				<nav class="nav1">
					<a id="menu-toggle" class="anchor-link" href="#"><img src="images/nav.png" alt="" /></a>
					<ul class="simple-toggle" id="menu">
			        	<li><a href="index.html">{{'HOME' | translate}}</a></li>
			        	<li class="active"><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
			        	<li><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
			        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
			        	<li><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
			        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
			        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
			        </ul>
				</nav>
				<div class="clearfix"> </div>
				<script type="text/javascript">
					  $(document).ready(function() {
					
						$('#menu-toggle').click(function () {
					      $('#menu').toggleClass('open');
					      e.preventDefault();
					    });
					    
					});
				</script>
			</div>
		<!---End-top-nav---->
	</div>
</div>   

<!-- Una boda polaca -->
<div class="profile">
	<div class="container">
		<h2 class="m_6">{{'LABODA_1' | translate}} 
        </h2>
        <p class="m_5">{{'LABODA_2' | translate}} </p>
        
        <br>
        <p>{{'LABODA_3' | translate}}
   
		<br>
		<br>
		{{'LABODA_4' | translate}}
		<br>
		<br>	
		{{'LABODA_5' | translate}}
		
		<br>
		<br>
		{{'LABODA_6' | translate}}
		<br>
		<br> 
		{{'LABODA_7' | translate}}
		<br>
		<br> 
		{{'LABODA_8' | translate}}
        </p>
        <br>
        <br>
        <br>
        <br>
	</div>
<!-- </div> -->


	<div class="clearfix"> </div>
			
<!-- <div class="profile"> -->
	<div class="container">
		<h2 class="m_6">
              {{'LABODA_9' | translate}}
        </h2>
        <p class="m_5">
        {{'LABODA_10' | translate}}
        </p>
        <div class="about_grid2">
          	 <div class="col-md-6 box_5">
                    <div class="put-left-abs-noborder">
                    	<img src="images/clock.png" alt="" height="50px" width="50px"/>
                    </div>
                    
                    <div >
                    	<h3>{{'LABODA_11' | translate}}</h3>
						<h4>{{'LABODA_12' | translate}}</h4>   
                        <h4>{{'LABODA_13' | translate}}:</h4>
                        <h5>{{'LABODA_14' | translate}}</h5>
                        <h4>{{'LABODA_15' | translate}}:</h4>
                        <h5>{{'LABODA_16' | translate}}<br></h5>   	 
                           	<h5><br></h5>   
<!-- 						     <a href="#" title="more" class="btn_1 " target="_self">more</a>  -->
                    </div>
             </div>
             <div class="col-md-6 box_5">
					<div class="put-left-abs-noborder">
                    	<img src="images/brujula.png" alt="" height="50px" width="50px"/>
                    </div>

					<!-- class="caption" -->
                    <div >
                        <h3>{{'LABODA_17' | translate}}</h3>
                        <h4>{{'LABODA_18' | translate}}</h4>
						<p>
                            {{'LABODA_19' | translate}}<br>
							{{'LABODA_20' | translate}}<br>
							{{'LABODA_21' | translate}} <br>
							{{'LABODA_22' | translate}}
						</p>
						<br>
                        <h4>{{'LABODA_23' | translate}}</h4>
                        <p>
                        	{{'LABODA_24' | translate}}<br>
							{{'LABODA_25' | translate}}<br>
							{{'LABODA_26' | translate}}
                        </p>
                    </div>
             </div>
             
        </div>
	</div>
<!-- </div> -->

<br>
        <br>
        <br>
        <br>


<!-- RSVP -->
<!-- <div class="profile"> -->
	<div class="container">
		<h2 class="m_6">{{'LABODA_27' | translate}}
        </h2>
        <p class="m_5">
        {{'LABODA_28' | translate}} 
        <b> {{'LABODA_29' | translate}} </b> 
        {{'LABODA_30' | translate}}
        </p>
        <div class="about_grid2">
          	 <div class="col-md-6 box_5">
                    <div class="put-left-abs-noborder">
                    	<img src="images/mail.png" alt="" height="32px" width="45px"/>
                    </div>
                    
                    <div >
                    	<h3>Ola</h3>
						<p class="sed-para">{{'LABODA_31' | translate}}<a href="tel://0048-507-132-086">+48 507 132 086</a></p>
						<p class="sed-para">{{'LABODA_31' | translate}}: <a href="tel://0048-507-132-086">+48 507 132 086</a></p>
						<p class="sed-para">{{'LABODA_32' | translate}}<a href="malito:aleksandra.myszak@hotmail.com">aleksandra.myszak@hotmail.com</a></p>  	 
                        <h5><br></h5>   
                    </div>
             </div>
             <div class="col-md-6 box_5">
					<div class="put-left-abs-noborder">
                    	<img src="images/mail.png" alt="" height="32px" width="45px"/>
                    </div>

					<!-- class="caption" -->
                    <div >
                        <h3>Carlos</h3>
                        	<p class="sed-para">{{'LABODA_31' | translate}}<a href="tel://0048-789-438-824">+48 789 438 824</a></p>
                        	<p class="sed-para">{{'LABODA_31' | translate}}<a href="tel://0034-974-430-257">+34 974 430 257</a></p>
							<p class="sed-para">{{'LABODA_32' | translate}}<a href="mailto:carlos.u.p@gmail.com">carlos.u.p@gmail.com</a></p> 
                    </div>
             </div>
             
        </div>
	</div>
</div>


<!-- Footer -->
   <div class="footer">
   	 <div class="container">
   	 	<div class="footer_nav1">
			<ul >
	        	<li class="active"><a href="index.html">{{'HOME' | translate}}</a></li>
	        	<li><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
	        	<li><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
	        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
	        	<li><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
	        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
	        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
	        </ul>
	 	</div>
   	    <div class="copy_right">
           <p>Copyright &copy; 2015 Spousal . All Rights Reserved . Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	    </div>
       </div>
     </div>


<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.about-grid a').Chocolat({linkImages:false});
		});
</script>
		

     
     
</body>
</html>		