<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app='app'>
<head>
	<title translate="TITLE"></title>
	<link rel="icon" type="image/png" href="images/logo.png">
	<link rel="shortcut icon" type="image/png" href="images/logo.png"/>
	<!-- <title>Spousal an Wedding Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="OlayCarlos, Ola, Carlos, Lublin" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--webfont-->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="./js/custom-translator.js"></script>
	<!----//requred-js-files---->
</head>

<body ng-controller="ctrl">
<div class="about_header">
	<div class="container">
	        <!---start-top-nav---->
			<div class="top-nav">
				<!-- An example of changing language in runtime -->
<!-- 				<p align="right"> -->
<!-- 					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" class="active" href="#" ng-click="setLang('en_US')">En</a>    | -->
<!-- 					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" href="#" ng-click="setLang('es_ES')">Es</a> -->
<!-- 				</p> -->
				<div class="top-header">
					<div class="logo">
					   <a href="index.html"><img src="images/logo.png" alt=""/></a>
					</div>					
				</div>
				<nav class="nav1">
					<a id="menu-toggle" class="anchor-link" href="#"><img src="images/nav.png" alt="" /></a>
					<ul class="simple-toggle" id="menu">
			        	<li><a href="index.html">{{'HOME' | translate}}</a></li>
			        	<li class="active"><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
			        	<li><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
			        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
			        	<li><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
			        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
			        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
			        </ul>
				</nav>
				<div class="clearfix"> </div>
				<script type="text/javascript">
					  $(document).ready(function() {
					
						$('#menu-toggle').click(function () {
					      $('#menu').toggleClass('open');
					      e.preventDefault();
					    });
					    
					});
				</script>
			</div>
		<!---End-top-nav---->
	</div>
</div>   

<!-- Una boda polaca -->
<div class="profile">
	<div class="container">
		<h2 class="m_6">Una boda polaca
        </h2>
        <p class="m_5">
        Nos casamos en Polonia y seguimos sus tradiciones y costumbres.
        </p>
        
        <br>
        <p>
        En Polonia tenemos varias costumbres que nos diferencian de otros países. Como la boda es hispano-polaca, hemos decidido que haremos un mix de costumbres que nos gustan de cada país. Para que no os sorprenda nada, os las vamos a explicar a continuación.
		<br>
		<br>
		La ceremonia religiosa es igual que en España, pero en polaco ;). Lo que pasa después, es un poco diferente.
		<br>
		<br>	
		Cuando termina la ceremonia en la iglesia, la gente espera fuera delante de la puerta. En Polonia se tira arroz, flores y unas moneditas de 1 grosz (es el céntimo de la moneda polaca złoty PLN). Los novios tienen que recoger todas las moneditas, se puede ayudar a los novios, porque a veces dura bastante tiempo. Después todos los asistentes, empezando por los padres y familiares se ponen en cola y así tienen un momento para felicitar a los novios. Si alguien quiere dar algún regalo, ese es el mejor momento. Normalmente el padrino y madrina de la boda se colocan detrás de la pareja para ayudarlos con los regalos. Generalmente el padrino lleva un cofre en el que se guardan sobres dinero. También se suelen regalar flores y últimamente en lugar de flores, un cd, un libro, una botella de vino.
		Aprovecharemos ese momento para tomar una foto de grupo.
		<br>
		<br>
		Cuando termina este momento, los invitados se dirigen al autobús que os llevara al restaurante. Nosotros seremos los últimos en llegar.
		<br>
		<br> 
		Mientras tanto los invitados esperan delante del restaurante la llegada de novios. 
		Los padres de los novios esperan a los novios frente a la puerta del restaurante con un pan y sal (es un símbolo para que nunca les falte pan). Después de esto los novios beben champán o vodka y tiran los vasos hacia detrás para que se rompan. AVISO IMPORTANTE!!! No hay que ponerse detrás de los novios en este momento, porque los vasos se tienen que romper, es un símbolo de buena suerte. 
		Después llega la prueba de condición física del novio, porque tiene que entrar a la novia en brazos por la puerta del restaurante.
		
		Detrás de los novios todos se dirigen a la sala de boda. Donde se canta el primer “Sto lat” (“deseo de cien años”) y se hace un brindis. Acordaros del “Sto lat” porque es una de las canciones más frecuentes. En las bodas polacas casi siempre hay una orquesta que lleva la fiesta, también suelen animar para tomar un chupito :)
		<br>
		<br> 
		En general en las bodas de Polonia se bebe y come bastante durante toda la noche. Siempre hay comida en las mesas y nunca falta el vodka frío.
		Después del brindis se puede comenzar la cena, es tradición comenzar con una sopa ya que Polonia es conocida como el país de las mil sopas. 
		Durante toda la cena hay platos fríos/entrantes en las mesas y durante la noche van llegando los platos calientes, cada 2 horas. 
		
		Como en España, aquí también hay una tarta de boda y la cortan los novios. Lo diferente empieza a las 12 de la noche. Esa es la hora en la que empieza “Oczepiny”. Son los juegos de la boda. Empiezan las chicas solteras, que bailan en círculo. Mientras tanto la novia con su velo está sentada en el medio. Cuando termina música, la novia tira el velo. La afortunada que lo coja, se va a casar en el próximo año. Después pasa lo mismo con los chicos solteros, el novio y su corbata. AVISO IMPORTANTE!!! El velo y corbata se devuelve a los novios, aunque os los dejaremos durante la noche. Otro de los juegos tradicionales es que los chicos pueden comprar un baile con novia, y las chicas con novio. El dinero que se gana, esta para comprar el carrito de niño :) El resto de juegos es un secreto. Esperamos que la disfrutéis.
		        

        
        </p>
        <br>
        <br>
        <br>
        <br>
	</div>
<!-- </div> -->


	<div class="clearfix"> </div>
			
<!-- <div class="profile"> -->
	<div class="container">
		<h2 class="m_6">
              Nuestro gran dia
        </h2>
        <p class="m_5">
        Queremos compartir con vosotros el día más especial de nuestra vida
        
<!--            Nada nos haría más ilusión que compartir este día contigo. -->
        </p>
        <div class="about_grid2">
          	 <div class="col-md-6 box_5">
                    <div class="put-left-abs-noborder">
                    	<img src="images/clock.png" alt="" height="50px" width="50px"/>
                    </div>
                    
                    <div >
                    	<h3>Cuando</h3>
						<h4>Sábado, 30 de Julio, 2016</h4>   
                        <h4>Ceremonia:</h4>
                        <h5>16:00</h5>
                        <h4>Banquete:</h4>
                        <h5>18:00<br></h5>   	 
                           	<h5><br></h5>   
<!-- 						     <a href="#" title="more" class="btn_1 " target="_self">more</a>  -->
                    </div>
             </div>
             <div class="col-md-6 box_5">
					<div class="put-left-abs-noborder">
                    	<img src="images/brujula.png" alt="" height="50px" width="50px"/>
                    </div>

					<!-- class="caption" -->
                    <div >
                        <h3>Donde</h3>
                        <h4>Iglesia</h4>
						<p>
                            Basílica de los Dominicos<br>
							Bazylika Ojców Dominikanów<br>
							ul. Złota 9, <br>
							20-112 Lublin, Polska
						</p>
						<br>
                        <h4>Restaurante</h4>
                        <p>
                        	Restaurante Etiuda<br>
							Ul. Nałęczowska, Szerokie 123,<br>
							20-050 Lublin, Polska
                        </p>
<!--                         <a href="lugar.html" title="Mas info" class="btn_1 " target="_self">Mas info</a> -->
                    </div>
             </div>
             
        </div>
	</div>
<!-- </div> -->

<br>
        <br>
        <br>
        <br>


<!-- RSVP -->
<!-- <div class="profile"> -->
	<div class="container">
		<h2 class="m_6">CONFIRMACION - RSVP
        </h2>
        <p class="m_5">
        Estamos muy contentos de celebrarlo con vosotros. Por favor confirma tu asistencia y cuantas personas vendréis antes del <b>30 de Junio 2016</b> para asegurarnos de que tendremos suficiente comida y Vodka. Podéis hacérnoslo saber mediante:
        </p>
        <div class="about_grid2">
          	 <div class="col-md-6 box_5">
                    <div class="put-left-abs-noborder">
                    	<img src="images/mail.png" alt="" height="32px" width="45px"/>
                    </div>
                    
                    <div >
                    	<h3>Ola</h3>
						<p class="sed-para">Teléfono: <a href="tel://0048-507-132-086">+48 507 132 086</a></p>
						<p class="sed-para">Teléfono: <a href="tel://0048-507-132-086">+48 507 132 086</a></p>
						<p class="sed-para">Email: <a href="malito:aleksandra.myszak@hotmail.com">aleksandra.myszak@hotmail.com</a></p>  	 
                        <h5><br></h5>   
                    </div>
             </div>
             <div class="col-md-6 box_5">
					<div class="put-left-abs-noborder">
                    	<img src="images/mail.png" alt="" height="32px" width="45px"/>
                    </div>

					<!-- class="caption" -->
                    <div >
                        <h3>Carlos</h3>
                        	<p class="sed-para">Teléfono: <a href="tel://0048-789-438-824">+48 789 438 824</a></p>
                        	<p class="sed-para">Teléfono: <a href="tel://0034-974-430-257">+34 974 430 257</a></p>
							<p class="sed-para">Email:<a href="mailto:carlos.u.p@gmail.com">carlos.u.p@gmail.com</a></p> 
                    </div>
             </div>
             
        </div>
	</div>
</div>


<!-- Footer -->
   <div class="footer">
   	 <div class="container">
   	 	<div class="footer_nav1">
			<ul >
	        	<li class="active"><a href="index.html">{{'HOME' | translate}}</a></li>
	        	<li><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
	        	<li><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
	        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
	        	<li><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
	        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
	        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
	        </ul>
	 	</div>
   	    <div class="copy_right">
           <p>Copyright &copy; 2015 Spousal . All Rights Reserved . Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	    </div>
       </div>
     </div>


<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.about-grid a').Chocolat({linkImages:false});
		});
</script>
		

     
     
</body>
</html>		