<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app='app'>
<head>
	<title translate="TITLE"></title>
	<link rel="icon" type="image/png" href="images/logo.png">
	<link rel="shortcut icon" type="image/png" href="images/logo.png"/>
	<!-- <title>Spousal an Wedding Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="OlayCarlos, Ola, Carlos, Lublin" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--webfont-->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="./js/custom-translator.js"></script>
	<!----//requred-js-files---->
</head>

<body ng-controller="ctrl">
<div class="about_header">
	<div class="container">
	        <!---start-top-nav---->
			<div class="top-nav">
				<!-- An example of changing language in runtime -->
				<p align="right">
					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" class="active" href="#" ng-click="setLang('en_US')">En</a>    |
					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" href="#" ng-click="setLang('es_ES')">Es</a>
				</p>
				<div class="top-header">
					<div class="logo">
					   <a href="index.html"><img src="images/logo.png" alt=""/></a>
					</div>					
				</div>
				<nav class="nav1">
					<a id="menu-toggle" class="anchor-link" href="#"><img src="images/nav.png" alt="" /></a>
					<ul class="simple-toggle" id="menu">
			        	<li><a href="index.html">{{'HOME' | translate}}</a></li>
			        	<li><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
			        	<li><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
			        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
			        	<li class="active"><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
			        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
			        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
			        </ul>
				</nav>
				<div class="clearfix"> </div>
				<script type="text/javascript">
					  $(document).ready(function() {
					
						$('#menu-toggle').click(function () {
					      $('#menu').toggleClass('open');
					      e.preventDefault();
					    });
					    
					});
				</script>
			</div>
		<!---End-top-nav---->
	</div>
</div>  

<!--  Que visitar en Polonia -->
<div class="profile">
	<div class="container">
	  <div class="about_box1">
	  	<h1 class="m_4">
          Turismo: Que visitar en Polonia
        </h1>
        <p class="m_5">
        Lo primero de todo Lublin.
        <br>
        Os iremos actualizando la web con más información por si queréis hacer turismo.
        </p>
        
        
       <!--         Lublin -->
       <div class="about_grid1">
         <div class="col-md-12 box2">
           <h2>Lublin</h2>
           <p>
           Esperamos que aprovechando que la boda tendrá lugar en Lublin, podéis visitar esta bonita ciudad. Es una ciudad universitaria de 400.000 habitantes, que tiene un precioso casco antiguo. Adicionalmente, si llegáis un día antes, podréis aprovechar también para disfrutar del ambiente del festival de malabaristas y magos, que tendrá lugar justo ese fin de semana por las calles de Lublin ( 28-31 Julio). <b><a target="_blank" href="http://sztukmistrze.eu"> Carnaval Sztukmistrzów - sztukmistrze.eu</a></b>
           </p>
         </div>
         
         <div class="col-md-3 bottom-gallery">
			<a href="images/lublin.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
			<img class="img-responsive" src="images/lublin.jpg" />
			<div class="b-wrapper">
			  <h3 class="b-animate b-from-left    b-delay03 "> </h3>
			</div>
                  </a>
		</div>
        <script src="js/jquery.chocolat.js"></script>
			<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
			<!--light-box-files -->
			<script type="text/javascript" charset="utf-8">
			$(function() {
				$('.bottom-gallery a').Chocolat();
			});
		</script>
      
      	<div class="col-md-12 box2">
           <h3>Hoteles</h3>
           <p>os aconsejamos algunos de los hoteles en Lublin.</p>
			<ul >
				<li><a target="_blank" href="#">G20 - www.lot.com</a></li>
				<li><a target="_blank" href="#">Vanilla</a></li>
				<li><a target="_blank" href="#">Wieniaski</a></li>
				<li><a target="_blank" href="http://www.hoteleuropa.pl/">Hotel Europa</a></li>
	        </ul>
	        <br>
	        
         </div>
         
         <div class="col-md-12 box2">
           <h3>Peluquerias</h3>
			<p>Os aconsejamos algunas de las peluquerias en Lublin.</p>
			<ul >
				<li><a target="_blank" href="#">Pelu 1</a></li>
				<li><a target="_blank" href="#">Pelu 2</a></li>
				<li><a target="_blank" href="#">Pelu 3</a></li>
				<li><a target="_blank" href="#">Pelu 4</a></li>

	        </ul>
         
         </div>
        
         
         <div class="clearfix"> </div>
       </div>     
       
       
       
       </div>
	</div>
</div>



<!--  Footer -->
   <div class="footer">
   	 <div class="container">
   	 	<div class="footer_nav1">
			<ul>
	        	<li><a href="index.html">Home</a></li>
	        	<li><a href="about.html">About</a></li>
	        	<li><a href="gallery.html">Gallery</a></li>
	        	<!-- logo -->
	        	 <li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
	        	<!-- logo -->
	        	<li><a href="faq.html">Faq</a></li>
	        	<li><a href="services.html">Services</a></li>
	        	<li><a href="contact.html">Contact</a></li>
	        </ul>
		 </div>
   	    <div class="copy_right">
           <p>Copyright &copy; 2015 Spousal . All Rights Reserved . Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	    </div>
       </div>
     </div>

<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.about-grid a').Chocolat({linkImages:false});
		});
</script>
    
</body>
</html>		