<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app='app'>
<head>
	<title translate="TITLE"></title>
	<link rel="icon" type="image/png" href="images/logo.png">
	<link rel="shortcut icon" type="image/png" href="images/logo.png"/>
	<!-- <title>Spousal an Wedding Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="OlayCarlos, Ola, Carlos, Lublin" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--webfont-->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="./js/custom-translator.js"></script>
	<!----//requred-js-files---->
</head>

<body ng-controller="ctrl">
<div class="about_header">
	<div class="container">
	        <!---start-top-nav---->
			<div class="top-nav">
				<!-- An example of changing language in runtime -->
<!-- 				<p align="right"> -->
<!-- 					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" class="active" href="#" ng-click="setLang('en_US')">En</a>    | -->
<!-- 					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" href="#" ng-click="setLang('es_ES')">Es</a> -->
<!-- 				</p> -->
				<div class="top-header">
					<div class="logo">
					   <a href="index.html"><img src="images/logo.png" alt=""/></a>
					</div>					
				</div>
				<nav class="nav1">
					<a id="menu-toggle" class="anchor-link" href="#"><img src="images/nav.png" alt="" /></a>
					<ul class="simple-toggle" id="menu">
			        	<li><a href="index.html">{{'HOME' | translate}}</a></li>
			        	<li><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
			        	<li><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
			        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
			        	<li class="active"><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
			        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
			        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
			        </ul>
				</nav>
				<div class="clearfix"> </div>
				<script type="text/javascript">
					  $(document).ready(function() {
					
						$('#menu-toggle').click(function () {
					      $('#menu').toggleClass('open');
					      e.preventDefault();
					    });
					    
					});
				</script>
			</div>
		<!---End-top-nav---->
	</div>
</div>  

<!--  Que visitar en Polonia -->
<div class="profile">
	<div class="container">
	  <div class="about_box1">
	  	<h1 class="m_4">
          Que visitar en Polonia
        </h1>
        <p class="m_5">
        Lo primero de todo Lublin.
        <br>
        Os iremos actualizando la web con más información por si queréis hacer turismo.
        </p>
        
        
       <!--         Lublin -->
       <div class="about_grid1">

         <div class="col-md-12 box2">
           <h1>Lublin</h1>
           <p>
           Esperamos que aprovechando que la boda tendrá lugar en Lublin, podéis visitar esta bonita ciudad. Es una ciudad universitaria de 400.000 habitantes, que tiene un precioso casco antiguo. Adicionalmente, si llegáis un día antes, podréis aprovechar también para disfrutar del ambiente del festival de malabaristas y magos, que tendrá lugar justo ese fin de semana por las calles de Lublin ( 28-31 Julio). <b><a target="_blank" href="http://sztukmistrze.eu"> Carnaval Sztukmistrzów - sztukmistrze.eu</a></b>
           </p>
         </div>


	      <div class="gallery_1" >
				<div class="gallery-bottom">
	
		         <div class="col-md-3 bottom-gallery">
					<a href="images/lublin.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<img class="img-responsive" src="images/lublin.jpg" />
					<div class="b-wrapper">
					  <h3 class="b-animate b-from-left    b-delay03 "> </h3>
					</div>
		                  </a>
				</div>
	
	
				<div class="clearfix"> </div>
				</div>
			</div>
	       	<script src="js/jquery.chocolat.js"></script>
				<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
				<!--light-box-files -->
				<script type="text/javascript" charset="utf-8">
				$(function() {
					$('.bottom-gallery a').Chocolat();
				});
			</script>



       <!--  Que visitar -->
       <div class="about_grid1">
         <div class="col-md-12 box2">
         
      	   <h2>Que visitar</h2>
           <p>Si decidís quedaros unos días en Lublin os recomendamos que visitéis algunos de estos lugares.</p>
           
	        <br>
	        
			Casco antiguo de Lublin (Stare miasto)
			<p>Lublin es una ciudad medieval y mantiene su casco histórico. Es muy colorido y tiene un encanto que os puede transportar a otras épocas.
			Durante todo el día hay mucho ambiente y por la noche es una de las zonas para salir a tomar algo, tiene muchos restaurantes y terrazas.
			La iglesia de los Dominicos se encuentra en este casco histórico, muy cerca de la plaza Rynek.
			</p>
			<br>
			
			
			Carnaval Sztukmistrzów - sztukmistrze.eu (Stare miasto)
			<p>Desde el jueves 28 hasta el domingo 31 de Julio las calles de Lublin serán un carnaval. Es un festival que muestra el arte carnavalesco, circo y música en la calle de artistas de toda Europa. Durante este carnaval podréis ver malabaristas, equilibristas, acróbatas, payasos, mimos, músicos, artistas por todos los rincones de la ciudad. La mayoría de las representaciones serán en el casco antiguo. El ambiente durante esos días es increíble. Os aconsejamos que aprovechéis esos días para ver este carnaval.
			</p>
			<br>
			<div align="center" class="col-md-12 box2">
				<iframe width="600" height="345"
					src="http://www.youtube.com/embed/As2tg3oqH9c">
				</iframe>
			<br>
	
			<a target="_blank" href="http://sztukmistrze.eu"> Carnaval Sztukmistrzów - sztukmistrze.eu</a>			
	<br>
			<br>
			<br>
	
			</div>
		
			
	        Campo de Concentración Majdanek Museo
			<p>Para los amantes de la historia y de la segunda guerra mundial, este iba a ser el campo de concentración más grande de Europa pero su construcción se paró poco antes de finalizar la guerra. Este situado cerca de Lublin a unos 2 Km, se puede llegar en transporte público. Para los que tengan pensado visitar Auschwitz esta puede ser una buena alternativa.
			Os avisamos que la experiencia es intensa.
			</p>
			<br>
	        
			Museo Rural- Muzeum Wsi Lubelskiej
			<p>
			<a target="_blank" href="http://skansen.lublin.pl/en/">Web Muzeum Wsi Lubelskiej</a>
			</p>
			<br>
	        
			El castillo de Lublin con Capilla de la Santa Trinidad y el Torreón
			<p>La capilla es una fusión del estilo gótico y ruso bizantino. Se encuentra en la categoría cero de la UNESCO.</p>
			<br>
	        
			Torre Trinitaria
			<p>Se puede subir al torreón para tener una buena vista panorámica de Lublin.</p>
			<br>
	        
			Zalew Zemborzycki
	        <p>Es un lago que se encuentra a las afueras de Lublin, es un buen lugar para pasar una tarde de verano. Se puede practicar deportes náuticos, tiene piscinas y zona de barbacoas.</p>
			<br>
	        
          
         </div>
         <div class="clearfix"> </div>
       </div>


        <!--  Hoteles -->
        <div class="about_grid1">
		<div class="col-md-12 box2">
         
      	   <h2>Restaurantes</h2>
           <p>Os aconsejamos algunos de los restaurante en Lublin.</p>
			<ul >
				<li>Perłowa Pijalnia Piwa: alli podriais hacer degustacion de las cervezas de Lublin, Perła.</li>
				<li>Stół i Wół: Un buen filete de carne.</li>
				<li>Sielsko Anielsko: Comida tradicional polaca.</li>
				<li>Czarcia Łapa: una de los restaurantes más viejos de Lublin.</li>
				<li>Św. Michał Pub Regionalny: Comida polaca.</li>
				<li>Ceska Pivnica: Comida y cerveza de Republica Checa.</li>
				<li>Trybunalska</li>
				<li>Grodzka 15: Cerveza artesanal</li>
				<li>G20: Comida española</li>
	        </ul>
	        
        </div>
        <div class="clearfix"> </div>
       </div>




        <!--  Hoteles -->
        <div class="about_grid1">
		<div class="col-md-12 box2">
         
      	   <h2>Hoteles</h2>
           <p>Os aconsejamos algunos de los hoteles en Lublin.</p>
			<ul >
				<li><a target="_blank" href="http://www.hoteleuropa.pl">Europa, http://www.hoteleuropa.pl</a></li>
				<li><a target="_blank" href="http://www.lublinianka.com/">Grand Hotel Lublinianka, http://www.lublinianka.com/</a></li>
				<li><a target="_blank" href="http://www.hotelgrodzka20.pl">Grodzka 20, http://www.hotelgrodzka20.pl</a></li>
				<li><a target="_blank" href="http://www.rezydencjacleopatra.pl">Rezydencja Cleopatra - http://www.rezydencjacleopatra.pl</a></li>
				<li><a target="_blank" href="http://vanilla-hotel.pl">Vanilla - http://vanilla-hotel.pl</a></li>
				<li><a target="_blank" href="http://www.hotelwieniawski.pl">Wieniawski - http://www.hotelwieniawski.pl</a></li>
				<li><a target="_blank" href="http://apartamentybrowarperla.pl">Apartamenty Perła - http://apartamentybrowarperla.pl</a></li>
				<li><a target="_blank" href="http://domnapodwalu.pl">Dom na Podwalu - http://domnapodwalu.pl</a></li>
				<li><a target="_blank" href="#">Hotel Victoria</a></li>
				<li><a target="_blank" href="#">Mercure Lublin Centrum</a></li>
	        </ul>
	        <br>
          
        </div>
        <div class="clearfix"> </div>
       </div>
	        
         
         <div class="col-md-12 box2">
           <h2>Peluquerias</h2>
			<p>Sabemos que hay gente interesada en peluquería para ese día.</p>	
						
			<ul>
				<li>Esthetics Institute Pierre Lupina,calle Kapucyńska 6, Lublin, tel. 0048 81 534 85 85</li>
				<li>PLATINIUM hair design, calle Narutowicza 19, tel. 0048 81 536 29 79 https://www.facebook.com/platinium.lublin</li>
				<li>Centro Comercial Tarasy Zamkowe, Aleja Unii Lubelskiej 2, Akademia Urody Beverly Hills, 0048 81 4644 488</li>
				<li>Studio Modnej Fryzury, calle Jana Hempla 5, tel. 0048 81 534 20 40  http://fryzjer.lublin.pl/ </li>
				<li>Laurent, calle Hipoteczna 5, 0048  81 534 44 04 http://www.laurenthipoteczna.pl/ </li>

	        </ul>
         
         </div>
        
         
         <div class="clearfix"> </div>
       </div>     
       
       
       
       </div>
	</div>
</div>



<!-- Footer -->
   <div class="footer">
   	 <div class="container">
   	 	<div class="footer_nav1">
			<ul >
	        	<li class="active"><a href="index.html">{{'HOME' | translate}}</a></li>
	        	<li><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
	        	<li><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
	        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
	        	<li><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
	        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
	        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
	        </ul>
	 	</div>
   	    <div class="copy_right">
           <p>Copyright &copy; 2015 Spousal . All Rights Reserved . Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	    </div>
       </div>
     </div>

     
     

<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.about-grid a').Chocolat({linkImages:false});
		});
</script>
    
</body>
</html>		