<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app='app'>
<head>
	<title translate="TITLE"></title>
	<link rel="icon" type="image/png" href="images/logo.png">
	<link rel="shortcut icon" type="image/png" href="images/logo.png"/>
	<!-- <title>Spousal an Wedding Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="OlayCarlos, Ola, Carlos, Lublin" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--webfont-->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="./js/custom-translator.js"></script>
	<!----//requred-js-files---->
</head>

<body ng-controller="ctrl">
<div class="about_header">
	<div class="container">
	        <!---start-top-nav---->
			<div class="top-nav">
				<!-- An example of changing language in runtime -->
				<p align="right">
					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" class="active" href="#" ng-click="setLang('pl_PL')">PL</a>    |
					<a style="color:white; font-family: Roboto Slab; font-weight: 100;" href="#" ng-click="setLang('es_ES')">ES</a>
				</p>
				<div class="top-header">
					<div class="logo">
					   <a href="index.html"><img src="images/logo.png" alt=""/></a>
					</div>					
				</div>
				<nav class="nav1">
					<a id="menu-toggle" class="anchor-link" href="#"><img src="images/nav.png" alt="" /></a>
					<ul class="simple-toggle" id="menu">
			        	<li><a href="index.html">{{'HOME' | translate}}</a></li>
			        	<li><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
			        	<li><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
			        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
			        	<li class="active"><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
			        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
			        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
			        </ul>
				</nav>
				<div class="clearfix"> </div>
				<script type="text/javascript">
					  $(document).ready(function() {
					
						$('#menu-toggle').click(function () {
					      $('#menu').toggleClass('open');
					      e.preventDefault();
					    });
					    
					});
				</script>
			</div>
		<!---End-top-nav---->
	</div>
</div>  

<!--  Que visitar en Polonia -->
<div class="profile">
	<div class="container">
	  <div class="about_box1">
	  	<h1 class="m_4">
          {{'TURISMO_1' | translate}}  
        </h1>
        <p class="m_5">
        {{'TURISMO_2' | translate}}  
        <br>
        {{'TURISMO_3' | translate}} 
        </p>
        
        
       <!--         Lublin -->
       <div class="about_grid1">

         <div class="col-md-12 box2">
           <h1>{{'TURISMO_4' | translate}} </h1>
           <p>
           {{'TURISMO_5' | translate}}<b><a target="_blank" href="http://sztukmistrze.eu">{{'TURISMO_6' | translate}}</a></b>
           </p>
         </div>


	      <div class="gallery_1" >
				<div class="gallery-bottom">
	
		         <div class="col-md-3 bottom-gallery">
					<a href="images/lublin.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<img class="img-responsive" src="images/lublin.jpg" />
					<div class="b-wrapper">
					  <h3 class="b-animate b-from-left    b-delay03 "> </h3>
					</div>
		                  </a>
				</div>
	
	
				<div class="clearfix"> </div>
				</div>
			</div>
	       	<script src="js/jquery.chocolat.js"></script>
				<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
				<!--light-box-files -->
				<script type="text/javascript" charset="utf-8">
				$(function() {
					$('.bottom-gallery a').Chocolat();
				});
			</script>



       <!--  Que visitar -->
       <div class="about_grid1">
         <div class="col-md-12 box2">
         
      	   <h2>{{'TURISMO_7' | translate}}</h2>
           <p>{{'TURISMO_8' | translate}}</p>
           
	        <br>
	        {{'TURISMO_9' | translate}}
			<p>{{'TURISMO_10' | translate}}
			</p>
			<br>
			
			{{'TURISMO_11' | translate}}
			<p>{{'TURISMO_12' | translate}}
			</p>
			<br>
			<div align="center" class="col-md-12 box2">
				<iframe width="600" height="345"
					src="http://www.youtube.com/embed/As2tg3oqH9c">
				</iframe>
				<br>
	
				<a target="_blank" href="http://sztukmistrze.eu">{{'TURISMO_13' | translate}}</a>			
				<br>
				<br>
				<br>
			</div>
		
			
	        {{'TURISMO_14' | translate}}
			<p>{{'TURISMO_15' | translate}}
			</p>
			<br>
	        
			{{'TURISMO_16' | translate}}
			<p>
			<a target="_blank" href="http://skansen.lublin.pl/en/">{{'TURISMO_17' | translate}}</a>
			</p>
			<br>
	        
			{{'TURISMO_18' | translate}}
			<p>{{'TURISMO_19' | translate}}</p>
			<br>
	        
			{{'TURISMO_20' | translate}}
			<p>{{'TURISMO_21' | translate}}</p>
			<br>
	        
			{{'TURISMO_22' | translate}}
	        <p>{{'TURISMO_23' | translate}}</p>
			<br>
	        
          
         </div>
         <div class="clearfix"> </div>
       </div>


        <!--  Hoteles -->
        <div class="about_grid1">
		<div class="col-md-12 box2">
         
      	   <h2>{{'TURISMO_24' | translate}}</h2>
           <p>{{'TURISMO_25' | translate}}</p>
			<ul >
				<li>{{'TURISMO_26' | translate}}</li>
				<li>{{'TURISMO_27' | translate}}</li>
				<li>{{'TURISMO_28' | translate}}</li>
				<li>{{'TURISMO_29' | translate}}</li>
				<li>{{'TURISMO_30' | translate}}</li>
				<li>{{'TURISMO_31' | translate}}</li>
				<li>{{'TURISMO_32' | translate}}</li>
				<li>{{'TURISMO_33' | translate}}</li>
				<li>{{'TURISMO_34' | translate}}</li>
	        </ul>
	        
        </div>
        <div class="clearfix"> </div>
       </div>




        <!--  Hoteles -->
        <div class="about_grid1">
		<div class="col-md-12 box2">
         
      	   <h2>{{'TURISMO_35' | translate}}</h2>
           <p>{{'TURISMO_36' | translate}}</p>
			<ul >
				<li><a target="_blank" href="http://www.hoteleuropa.pl">Europa, http://www.hoteleuropa.pl</a></li>
				<li><a target="_blank" href="http://www.lublinianka.com/">Grand Hotel Lublinianka, http://www.lublinianka.com/</a></li>
				<li><a target="_blank" href="http://www.hotelgrodzka20.pl">Grodzka 20, http://www.hotelgrodzka20.pl</a></li>
				<li><a target="_blank" href="http://www.rezydencjacleopatra.pl">Rezydencja Cleopatra - http://www.rezydencjacleopatra.pl</a></li>
				<li><a target="_blank" href="http://vanilla-hotel.pl">Vanilla - http://vanilla-hotel.pl</a></li>
				<li><a target="_blank" href="http://www.hotelwieniawski.pl">Wieniawski - http://www.hotelwieniawski.pl</a></li>
				<li><a target="_blank" href="http://apartamentybrowarperla.pl">Apartamenty Perła - http://apartamentybrowarperla.pl</a></li>
				<li><a target="_blank" href="http://domnapodwalu.pl">Dom na Podwalu - http://domnapodwalu.pl</a></li>
				<li><a target="_blank" href="#">Hotel Victoria</a></li>
				<li><a target="_blank" href="#">Mercure Lublin Centrum</a></li>
	        </ul>
	        <br>
          
        </div>
        <div class="clearfix"> </div>
       </div>
	        
         
         <div class="col-md-12 box2">
           <h2>{{'TURISMO_37' | translate}}</h2>
			<p>{{'TURISMO_38' | translate}}</p>	
						
			<ul>
				<li>Esthetics Institute Pierre Lupina, ul. Kapucyńska 6, Lublin, tel. 0048 81 534 85 85</li>
				<li>PLATINIUM hair design, ul. Narutowicza 19, tel. 0048 81 536 29 79 https://www.facebook.com/platinium.lublin</li>
				<li>Centro Comercial Tarasy Zamkowe, Aleja Unii Lubelskiej 2, Akademia Urody Beverly Hills, 0048 81 4644 488</li>
				<li>Studio Modnej Fryzury, ul. Jana Hempla 5, tel. 0048 81 534 20 40  http://fryzjer.lublin.pl/ </li>
				<li>Laurent, ul. Hipoteczna 5, 0048  81 534 44 04 http://www.laurenthipoteczna.pl/ </li>

	        </ul>
         
         </div>
        
         
         <div class="clearfix"> </div>
       </div>     
       
       
       
       </div>
	</div>
</div>



<!-- Footer -->
   <div class="footer">
   	 <div class="container">
   	 	<div class="footer_nav1">
			<ul >
	        	<li class="active"><a href="index.html">{{'HOME' | translate}}</a></li>
	        	<li><a href="laboda.html">{{'DETAILS' | translate}}</a></li>
	        	<li><a href="comollegar.html">{{'LOCATION' | translate}}</a></li>
	        	<li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
	        	<li><a href="turismo.html">{{'CONTACT' | translate}}</a></li>
	        	<li><a href="masinfo.html">{{'SERV' | translate}}</a></li>
	        	<li><a href="galeria.html">{{'GALERIA' | translate}}</a></li>
	        </ul>
	 	</div>
   	    <div class="copy_right">
           <p>Copyright &copy; 2015 Spousal . All Rights Reserved . Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	    </div>
       </div>
     </div>

     
     

<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.about-grid a').Chocolat({linkImages:false});
		});
</script>
    
</body>
</html>		